
<h1>Stuff</h1>


<script type="text/x-handlebars-template" id="list-template">

<div class="container" id="{{id}}">
  <ul></ul>
  <input type="text" value="" placeholder="name" class="name">
  <input type="text" value="" placeholder="value" class="value">
  <input type="text" value="" placeholder="time" class="time">
  <button class="new">Create</button>
  <button class="sort value" data-action="value">Value</button>
  <button class="sort time" data-action="time">Time</button>
  <button class="sort worth" data-action="worth">Worth</button>  
</div>

</script>

<br>


<script type="text/x-handlebars-template" id="entry-template">
  <li>{{name}} {{value}} {{time}} {{worth}}</li>
</script>
