
<h1>Stuff</h1>




<script type="text/x-handlebars-template" id="list-template">

<div class="container" id="{{id}}">
  <table>
    <thead>
      <tr>
        <th>Decision</th>
        <th>Value</th>
        <th>Time</th>
        <th>Worth</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <input type="text" value="" placeholder="name" class="name">
  <input type="text" value="" placeholder="value" class="value">
  <input type="text" value="" placeholder="time" class="time">
  <button class="new">Create</button>
  <button class="sort value" data-action="value">Value</button>
  <button class="sort time" data-action="time">Time</button>
  <button class="sort worth" data-action="worth">Worth</button>  
</div>

</script>

<br>



<script type="text/x-handlebars-template" id="entry-template">
<tr>
  <td>{{name}}</td>
  <td>{{value}}</td>
  <td>{{time}}</td>
  <td>{{worth}}</td>
  <td>{{created_at}}</td>
</tr>
</script>
